/chat-front_1/build/
/chat-front_1/dist/
/chat-front_1/nbproject/private/
/chat-front_2/build/
/chat-front_2/dist/
/chat-front_2/nbproject/private/
/chat-server-dashboard_1/nbproject/private/
/chat-server-dashboard_1/dist/
/chat-server-dashboard_1/build/